@tailwind base;
@tailwind components;
@tailwind utilities;

body{@apply  text-white;background-color: rgb(115, 118, 125);
  @media (max-width: 767px) {
    
    
    container:initial;
    
  }
  
}
.imagen{object-fit: cover;
z-index: -2;}
.divform{@media (max-width: 440px) {
  display: inline-block;
  
  
}
display: inline-block;
  background-color: #ffffff10;
  backdrop-filter: blur(5px);
  border-radius:   10px;
  margin: -10px;
  display: contents;
}
.datos{@media (max-width: 780px) {
  display: inline-block;
  


}  

flex-grow: 3;
  display: flex;
  padding-right: 20px;
  

}
.titulo{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: rgb(98, 156, 204);
  text-shadow:2px 2px #2600ff;
}





